:root {
  /* Color Vars */
  --text-color: hsl(0, 0%, 90%);
  --main-color-h: 231;
  --main-color-s: 25%;
  --main-color-l: 50%;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html.animate * {
  transition: all ease-in-out var(--app-anim-speed) !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--main-color-h), calc(var(--main-color-s) * .2), 20%);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#quote-box {
  background-color: hsl(var(--main-color-h), var(--main-color-s), 35%);
  width: 600px;
  min-height: 350px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "quote quote quote" "link . button";
  margin-bottom: 50px;
}
#quote-box .quote{
  grid-area: quote;
}
#quote-box button{
  grid-area: button;
}
#quote-box a {
  grid-area: link;
}