.button, .link {
    font-size: 1.5rem;
    outline: none;
    color: var(--text-color);
    text-shadow: 0 0 2px black;
    border: 2px solid hsl(var(--main-color-h), var(--main-color-s), 30%);
    background-color: hsl(var(--main-color-h), var(--main-color-s), 50%);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.button:hover, .link:hover {
    background-color: hsl(var(--main-color-h), var(--main-color-s), 55%);
    border-color: hsl(var(--main-color-h), var(--main-color-s), 40%);
}

.button:active, .link:active {
    background-color: hsl(var(--main-color-h), var(--main-color-s), 35%);
    border-color: hsl(var(--main-color-h), var(--main-color-s), 20%);
}

.link>svg {
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    filter: drop-shadow( 0 0 2px rgba(0, 0, 0, .5));
}