.quote{
    color: var(--text-color);
    filter: opacity(.85);
    align-self: center;
    justify-self: center;
    width: 100%;
}
.quote h1{
    padding: 0 15px;
}
.quote p{
    padding: 0 35px;
    text-align: right;
}

